# GCP
GCP_PROJECT_ID=your-project-id
GCP_REGION=asia-south1
GCS_BUCKET_BRONZE=your-project-id-bronze
GCS_BUCKET_SILVER=your-project-id-silver
BQ_DATASET_SILVER=silver_stocks
BQ_DATASET_GOLD=gold_stocks
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/gcp/service-account.json

# Pipeline config
STOCK_SYMBOLS=RELIANCE.NS,TCS.NS,INFY.NS,HDFCBANK.NS,WIPRO.NS
